.assure {
  padding-bottom: 60px;

  @include laptop {
    padding-bottom: 90px;
  }

  &__list {
    @include laptop {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__item {
    color: #3C3B3B;
    border: 1px solid $gray;
    padding: 25px 36px;
    padding-left: 120px;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    height: 110px;
    box-sizing: border-box;
    margin-top: -1px;
    display: grid;
    align-items: center;

    @include laptop {
      font-size: 24px;
      height: 190px;
      padding: 55px;
      padding-left: 155px;
      margin-top: 0;
      margin-right: -1px;
    }

    &::before {
      content: '';
      background: var(--icon);
      background-color: var(--accent-color);
      background-repeat: no-repeat;
      background-size: contain;
      width: 60px;
      height: 60px;
      position: absolute;
      left: 55px;

      @include laptop {
        width: 70px;
        height: 70px;
      }
    }
  }

}
