.breadcrums {
  padding: 15px 0;

  @include laptop {
    padding-top: 35px;
    padding-bottom: 40px;
  }

  &__list {
    display: flex;
    gap: 30px;
    color: #797979;
  }

  &__item {
    color: #797979;
    font-size: 14px;

    @include laptop {
      font-size: 16px;
    }
  }

  &__link {
    color: #797979;
    font-size: 14px;
    position: relative;

    @include laptop {
      font-size: 16px;
    }

    &::after {
      content: '';
      width: 6px;
      height: 6px;
      background-color: #797979;
      border-radius: 50%;
      position: absolute;
      right: -16px;
      top: 5px;

      @include laptop {
        top: 7px;
      }
    }
  }
}
