.client {
  color: $gray;
  font-size: 15px;

  @include laptop {
    font-size: 16px;
    display: grid;
    grid-template-columns: 7.5fr 5fr;
    gap: 96px;
  }

  &__subheading {
    color: $accent-color;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;

    @include laptop {
      margin-top: 30px;
      font-size: 20px;
    }
  }

  &__subheading--primary {
    color: $white;
  }

  &__header {
    display: grid;
    grid-template-columns: 56px 1fr;
    gap: 10px 15px;

    @include laptop {
      gap: 0 20px;
      grid-template-columns: 74px 1fr auto;
      margin-bottom: 36px;
    }
  }

  &__image {
    @include laptop {
      grid-row: span 2;
      width: 74px;
      height: 74px;
    }
  }

  &__name {
    color: $white;
    font-size: 28px;
    @include title;
    display: grid;
    align-content: center;

    @include laptop {
      font-size: 36px;
    }
  }

  &__label {
    color: $accent-color;
    background-color: rgba(229, 65, 65, 0.10);
    font-size: 14px;
    height: 22px;
    text-align: center;
    padding: 10px 15px;
    border-radius: 34px;
    line-height: 150%;
    grid-column: 1 / span 2;

    @include laptop {
      grid-row: 1/1;
      grid-column: 3/-1;
    }
  }

  &__data {
    padding-left: 26px;
    list-style-type: disc;
    grid-row: 2/2;
    grid-column: 1/-1;

    @include laptop {
      grid-row: auto;
      grid-column: auto;
    }
  }

  &__box {
    border-radius: 4px;
    background-image: url(../img/bg-box@2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 90%;
    font-size: 15px;
    padding: 15px;
    margin-bottom: 15px;

    @include laptop {
      font-size: 16px;
      padding: 25px 20px;
      margin-bottom: 46px;
    }
  }

  &__box &__subheading {
    margin-top: 0;
  }

  &__extended {
    font-size: 14px;
    font-style: italic;
  }

  &__link {
    color: $accent-color;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    height: 28px;
    position: relative;
    padding-right: 18px;
    cursor: pointer;
    transition: $transition;

    @include laptop {
      display: none;
    }

    &::after {
      content: '';
      position: absolute;
      top: 11px;
      right: 0;
      width: 10px;
      height: 8px;
      background-image: url(../img/arrow-show.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      transition: $transition;
    }

    &--less::after {
      transform: rotate(-180deg);
    }
  }

  &-hide {
    display: none;

    @include laptop {
      display: block;
    }
  }

  &-hide--open {
    display: block;
  }

  &__logotype {
    display: flex;
    align-items: center;
    gap: 16px;

    @include laptop {
      align-items: flex-start;
    }
  }
}
