.contact {
  padding-top: 10px;
  padding-bottom: $padding-mobile;
  background-image: url(../img/map.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;
  overflow: hidden;

  @include laptop {
    background-image: url(../img/map-desktop.jpg);
    padding-top: 30px;
    padding-bottom: 200px;
  }

  &::before {
    content: '';
    position: absolute;
    bottom: 30px;
    left: calc(50% - 190px);
    width: 380px;
    height: 380px;
    background-image: url(../img/marker.svg);
    background-repeat: no-repeat;

    @include laptop {
      top: 30%;
      left: calc(65% - 190px);
    }
  }

  &__title {
    color: $white;
    font-size: 40px;
    @include title;
    margin-bottom: 36px;

    @include laptop {
      font-size: 80px;
      letter-spacing: 3.2px;
      margin-bottom: 155px;
    }
  }

  &__information {
    color: $white;
    font-size: 20px;
    padding: 32px 16px;
    background: rgba(31, 28, 28, 0.45);
    backdrop-filter: blur(29px);
    max-width: 445px;
    margin-bottom: 345px;

    @include laptop {
      padding: 50px 35px;
      margin-bottom: 0;
    }
  }

  &__list {
    display: grid;
    gap: 10px;
  }

  &__item--address {
    margin-bottom: 20px;

    @include laptop {
      margin-bottom: 30px;
    }
  }

  &__link {
    color: $white;
  }

  &__link--accent {
    color: $accent-color;
    text-decoration: underline;
  }

  &__pdf {
    color: #8e8e8e;
    font-size: 14px;
    text-decoration: underline;
    margin-top: 35px;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 30px;

    @include laptop {
      font-size: 16px;
      margin-top: 40px;
    }

    &::before {
      content: '';
      background-image: url(../img/pdf.svg);
      background-repeat: no-repeat;
      width: 30px;
      height: 30px;
      position: absolute;
      left: 0;
    }
  }
}
