.credentials {
  padding-bottom: $padding-mobile;
  overflow: hidden;

  @include laptop {
    padding-bottom: $padding-pc;
  }

  &__title {
    color: $white;
    font-size: 40px;
    @include title;
    margin-bottom: 25px;

    @include laptop {
      font-size: 80px;
      letter-spacing: 3.2px;
      margin-bottom: 60px;
    }
  }

  &__content {
    color: $white;
    font-size: 15px;
    margin-bottom: 40px;

    @include laptop {
      font-size: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
      margin-bottom: 56px;
    }
  }

  &__content p:not(:last-child) {
    margin-top: 0;
    margin-bottom: 16px;
  }

  &__content p {
    margin-bottom: 0;
  }

  &__navigation {
    display: none;

    @include laptop {
      display: flex;
      margin: 0;
    }

    &.swiper-button-next {
      right: -35px;
      backdrop-filter: blur(5px);
    }

    &.swiper-button-prev {
      left: -35px;
      backdrop-filter: blur(5px);
    }
  }

  &__pagination {
    @include laptop {
      display: none;
    }
  }

  &__slider &__item {
    margin-right: -1px;
  }

  &__item {
    border: 1px solid #515050;
    padding: 15px;
    box-sizing: border-box;
    height: auto;
    margin-bottom: -1px;

    @include laptop {
      padding: 70px 180px 90px 100px;
    }
  }

  &__transfer {
    justify-self: end;
  }

}
