.footer {
  background: $accent-color;
  border-top: 1px solid $accent-red;

  @include laptop {
    border-top: 0 solid $accent-red;
  }

  &__container {
    margin: 30px auto;
    display: flex;
    justify-content: space-between;

    @include laptop {
      align-items: flex-start;
      margin-top: 78px;
      margin-bottom: 35px;
    }
  }

  &__address {
    color: $white;
    font-size: 20px;
    font-weight: 400;
    display: grid;

    @include desktop {
      width: 380px;
    }
  }

  &__label {
    font-size: 14px;
    font-weight: 300;
  }

  &__nav {
    display: flex;
    gap: 68px;
  }

  &__menu {
    display: none;

    @include laptop {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }

  &__link {
    color: $white;
    font-size: 14px;
    font-weight: 400;
    transition: $transition;

    &:hover {
      text-decoration: underline;
    }
  }

  &__copyright {
    color: $white;
    font-size: 15px;

    @include laptop {
      display: none;
    }
  }
}

@include mobile-tablet-only {
  .footer__list,
  .footer__address,
  .last-footer {
    display: none;
  }

}

.last-footer {
  border-top: 1px solid $accent-red;
  padding: 24px 0 28px;
}
