.industries {
  position: relative;
  padding-bottom: $padding-mobile;

  @include laptop {
    padding-bottom: $padding-pc;
  }

  &__title {
    color: $white;
    font-size: 40px;
    @include title;
    margin-bottom: 30px;

    @include laptop {
      font-size: 80px;
      letter-spacing: 3.2px;
      margin-bottom: 50px;
    }
  }

  &__content {
    color: $white;

    @include tablet {
      font-size: 20px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    }
  }

  &__content p {
    margin-top: 0;
    margin-bottom: 16px;
  }

  &__content p:last-child {
    margin-bottom: 0;
  }

  &__tabs {
    @include laptop {
      padding-top: 20px;
    }
  }

  &__tabs .tabs__control {
    color: $gray;
    background-color: $bg-color;
    border: 1px solid rgba(211, 211, 211, 0.25);
  }

  &__tabs .tabs__control:hover {
    color: $accent-color;
    border: 1px solid $accent-color;
  }

  &__tabs .tabs__control.is-active:hover {
    color: $white;
    border: 1px solid $accent-color;
  }

  &__item {
    @include laptop {
      margin-bottom: 30px;
    }
  }

  &__item &__item-inner {
    @include laptop {
      margin-right: 15px;
      margin-left: 15px;
    }
  }

  &__item:nth-child(1) &__item-inner,
  &__item:nth-child(6) &__item-inner {
     margin-left: 0;
  }

  &__slider {
    padding-right: 45px;

    @include laptop {
      padding-top: 110px;
      padding-right: 0;
      margin-top: -45px;
    }
  }

  &__navigation {
    display: none;

    @include laptop {
      display: flex;
      top: 0;
      margin: 0;
    }
  }

  &__navigation.swiper-button-next,
  &__navigation.swiper-button-prev {
    background-color: rgba(217, 217, 217, 0.1);
  }

  &__navigation.swiper-button-next:hover,
  &__navigation.swiper-button-prev:hover {
    background-color: rgba(217, 217, 217, 0.25);
  }

  &__pagination {
    @include laptop {
      text-align: left;
    }
  }

  &__pagination .swiper-pagination-bullet {
    margin-left: 0!important;
  }

  &__link {
    display: none;

    @include laptop {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__image {
    margin-top: 30px;
    margin-bottom: 40px;

    @include tablet {
      margin-top: -50px;
    }

    @include laptop {
      margin-top: -120px;
      margin-bottom: 70px;
    }
  }
}
