.industries {
  position: relative;
  padding-bottom: $padding-mobile;

  @include laptop {
    padding-bottom: $padding-pc;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 190px;
    height: 170px;
    background-image: url(../img/insurance.svg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;

    @include laptop {
      content: none;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: -15px;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/bg-industries.svg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;
    z-index: -1;

    @include laptop {
      background-image: url(../img/bg-industries-pc.svg);
      top: 120px;
    }

    @include desktop {
      left: -320px;
    }
  }

  &__title {
    color: $white;
    font-size: 40px;
    @include title;
    margin-bottom: 25px;

    @include laptop {
      font-size: 80px;
      line-height: 91%;
      letter-spacing: 3.2px;
      margin-bottom: 96px;
    }
  }

  &__content {
    margin-top: 25px;

    @include laptop {
      margin-top: 0;
    }
  }

  &__tabs .tabs__control {
    color: $gray;
    background-color: $bg-color;
    border: 1px solid rgba(211, 211, 211, 0.25);
  }

  &__tabs .tabs__control:hover {
    color: #fff;
    border: 1px solid $white;
  }

  &__tabs .tabs__control.is-active:hover {
    color: $white;
    border: 1px solid $accent-color;
  }

  &__item {
    @include laptop {
      margin-bottom: 30px;
    }
  }

  &__item &__item-inner {
    @include laptop {
      margin-right: 15px;
      margin-left: 15px;
    }
  }

  &__item:nth-child(1) &__item-inner,
  &__item:nth-child(6) &__item-inner {
     margin-left: 0;
  }

  &__slider {
    padding-right: 45px;

    @include laptop {
      padding-top: 110px;
      padding-right: 0;
      margin-top: -45px;
    }
  }

  &__navigation {
    display: none;

    @include laptop {
      display: flex;
      top: 0;
      margin: 0;
    }
  }

  &__pagination {
    @include laptop {
      text-align: left;
    }
  }

  &__pagination .swiper-pagination-bullet {
    margin-left: 0!important;
  }
}
