.intouch {
  background-color: $accent-color;
  padding: $padding-mobile 0;
  position: relative;

  @include laptop {
    padding: $padding-pc 0;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/bg-intouch-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.3;

    @include laptop {
      background-size: contain;
      background-image: url(../img/bg-intouch.svg);
    }
  }

  &__title {
    color: $white;
    font-size: 40px;
    @include title;
    margin-bottom: 22px;

    @include laptop {
      font-size: 80px;
      letter-spacing: 3.2px;
      margin-bottom: 92px;
    }
  }

  &__textarea {
    min-height: 205px;
    margin-top: 15px;
    padding-top: 16px;

    @include laptop {
      margin-top: 0;
      height: 100%;
      padding-top: 28px;
    }
  }

  &__policy {
    display: block;
    margin-top: 20px;
    margin-bottom: 25px;
    color: $white;

    & input:checked::before {
      background-image: url(../img/checked.svg);
    }
  }

  &__inputs {
    @include laptop {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    }

    & .is-invalid {
      input,
      textarea {
        border: 1px solid rgba(255, 255, 255, 0.75);
        background-color: #EA1212;

        &:focus,
        &:hover {
          border: 1px solid rgba(255, 255, 255, 0.75);
        }
      }
    }

    & .is-valid {
      input,
      textarea {
        background-color: $accent-color;
        border: 1px solid #fff;
        transition: $transition;

        &:focus,
        &:hover {
          border: 1px solid rgba(#fff, 0.9);
        }
      }
    }

    & .input-message {

      &.is-invalid {
        color: rgba(255, 255, 255, 0.8);
      }

      &.is-valid {
        color: #fff;
      }
    }
  }

  &__input,
  &__textarea {
    border: 1px solid rgba(255, 255, 255, 0.35);
    background-color: rgba(255, 255, 255, 0.10);
  }

  &__input:hover,
  &__textarea:hover {
    border: 1px solid rgba(255, 255, 255, 0.65);
    background-color: $accent-color;
  }

  &__input::placeholder,
  &__textarea::placeholder {
    color: $white;
  }

  &__inputs-group {
    display: grid;
    gap: 15px;

    @include laptop {
      gap: 30px;
    }
  }

  &__buttons {
    @include laptop {
      margin-top: 64px;
      display: flex;
      align-items: center;
      gap: 44px;
    }
  }

  &__button {
    @include laptop {
      order: -1;
      max-width: 372px;
    }
  }
}

.policy {
  font-size: 15px;
  position: relative;
  display: flex;

  & input {
    margin: 0;
    visibility: hidden;
  }

  & input::before {
    content: '';
    position: absolute;
    top: 2px;
    background-image: url(../img/checkbox.svg);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    visibility: initial;
  }

  & span {
    display: block;
    padding-left: 26px;
  }

  &__link {
    color: $white;
    text-decoration: underline;
  }

  &__link--black {
    color: $bace-color;
  }
}
