.main-menu {
  display: grid;
  gap: 15px;

  &__link {
    color: $white;
    transition: $transition;
  }

  &__link:hover {
    opacity: 0.8;
  }

  @include laptop {
    display: flex;
    align-items: center;
    gap: 36px;
    font-size: 16px;
  }

  @include desktop {
    gap: 78px;
  }
}
