.main-menu {
  display: grid;
  gap: 24px;

  &__link {
    color: $white;
    font-weight: 400;
    transition: $transition;
  }

  &__link:hover {
    color: $accent-color;
    text-decoration: underline;
  }

  @include laptop {
    display: flex;
    align-items: center;
    gap: 36px;
    font-size: 16px;
  }

  @include desktop {
    gap: 78px;
  }
}
