.news {
  padding-bottom: $padding-mobile;

  @include laptop {
    padding-bottom: $padding-pc ;
    position: relative;
  }

  &__title {
    font-size: 40px;
    @include title;
    margin-bottom: 30px;

    @include laptop {
      font-size: 80px;
      letter-spacing: 3.2px;
      margin-bottom: 50px;
    }
  }

  &__list {
    @include laptop {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
    }
  }

  &__item {
    border: 1px solid $gray;
    background: $white;
    height: auto;
    box-sizing: border-box;
    transition: $transition;
  }

  &__item:hover {
    border: 1px solid $gray;
    box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.08);
  }

  &__item:hover &__name {
    color: $accent-color;
  }

  &__item--dark {
    background: $bg-color;
    border: 1px solid rgba(211, 211, 211, 0.25);
  }

  &__image {
    transform: scale(1.005);
  }

  &__content {
    padding: 20px;
  }

  &__name {
    color: #36322F;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    margin-bottom: 10px;

    @include laptop {
      font-size: 24px;
    }
  }

  &__description {
    color: #36322F;
    font-size: 15px;
    line-height: 160%;

    @include laptop {
      font-size: 16px;
    }
  }

  &__item--dark &__name {
    color: $gray;
  }

  &__item--dark &__description {
    color: #dadada;
  }

  &__slider .common-slider__pagination {
    @include laptop {
      display: block;
      text-align: left;
    }
  }

  &__footer {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    @include laptop {
      justify-content: flex-end;
      margin-top: -20px;
    }
  }
}
