.page {
  background-color: $white;

  &--about .contact {
    padding-top: 60px;

    @include laptop {
      padding-top: 150px;
    }
  }
}

.index {

  & .partners {
    padding-top: $padding-mobile;

    @include laptop {
      padding-top: $padding-pc;
    }
  }

  & .contact {
    padding-top: 0;

    @include laptop {
      padding-top: 30px;
    }
  }

  & .solutions {
    padding-top: $padding-mobile;

    @include laptop {
      padding-top: $padding-pc;
    }
  }
}



