.page {
  background-color: $white;
}

.index .partners {
  padding-top: $padding-mobile;

  @include laptop {
    padding-top: $padding-pc;
  }
}

.index .contact {
  padding-top: 0;

  @include laptop {
    padding-top: 30px;
  }
}

