.solutions {
  padding-bottom: $padding-mobile;
  background-color: $white;

  @include laptop {
    padding-bottom: $padding-pc;
  }

  &--bottom {
    padding-top: 36px;
    border-top: 1px solid $gray;

    @include laptop {
      padding-top: 60px;
    }
  }

  &__title {
    font-size: 40px;
    @include title;
    margin-bottom: 24px;

    @include tablet {
      margin: 0;
    }

    @include laptop {
      font-size: 80px;
      letter-spacing: 3.2px;
    }

    &--subtitle {
      @include laptop {
        font-size: 40px;
        margin-bottom: 36px;
      }
    }

  }

  &__subtitle {
    font-weight: 600;

    @include tablet {
      font-size: 20px;
    }
  }

  &__navigation {
    display: none;

    @include laptop {
      display: flex;
      top: auto;
      margin: 0;
    }
  }

  &__pagination {
    @include laptop {
      display: none;
    }
  }

  &__slider {
    padding-right: 40px;
    margin-left: 15px;

    @include laptop {
      padding-right: 0;
    }
  }

  &__slider .swiper-button-next,
  &__slider .swiper-button-prev {
    background-color: transparent;
    border: 1px solid rgba(211, 211, 211, 1);
  }

  &__slider .swiper-button-prev:after,
  &__slider .swiper-button-next:after {
    color: rgba(142, 142, 142, 1);
  }

  &__slider .swiper-wrapper {
    padding-bottom: 70px;
  }

  &__slider img {
    width: 100%;
  }

  &__name {
    font-size: 20px;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 10px;

    @include laptop {
      font-size: 24px;
    }
  }

  &__desc {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 15px;
    line-height: 145%;

    @include laptop {
      font-size: 16px;
    }
  }

  &__link {

    @include laptop {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__list {
    margin-top: 36px;
    margin-bottom: 36px;
    display: grid;
    gap: 16px;

    @include tablet {
      font-size: 20px;
      margin-top: 60px;
      margin-bottom: 90px;
      grid-template-columns: repeat(3, 1fr);
      gap: 60px;
    }
  }

  &__objects {
    display: grid;
    gap: 20px;

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }

    @include laptop {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__object img {
    width: 100%;
  }

  &__item {
    position: relative;
    padding-left: 26px;
  }

  &__item::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 10px;
    height: 10px;
    background-color: $accent-color;
    border-radius: 50%;
  }

  &__header {
    @include tablet {
      display: grid;
      grid-template-columns: 3fr 1fr;
      align-items: center;
      gap: 40px;
    }

    @include desktop {
      gap: 120px;
    }
  }

  &__content {
    font-size: 15px;
    margin-top: 30px;
    display: grid;

    @include tablet {
      font-size: 20px;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
      margin-top: 50px;
    }

    @include laptop {
      gap: 60px;
    }
  }

  &__content p:not(:last-child) {
    margin-top: 0;
    margin-bottom: 16px;
  }

  &__content p {
    margin-bottom: 0;
  }

  &__button {
    margin-top: 36px;

    @include laptop {
      margin-top: 50px;
    }
  }

  &__image {
    order: -1;
    margin-bottom: 24px;

    @include tablet {
      order: 1;
    }
  }

  &__image img {
    width: 100%;
  }

  &__form {
    margin-top: 36px;

    @include laptop {
      margin-top: 48px;
    }
  }


  &__policy {
    @include laptop {
      order: 1;
    }

    & input:checked::before {
      background-image: url(../img/checkbox-red.svg);
    }
  }

  &__inputs {
    @include laptop {
      display: grid;
      gap: 30px;
    }

    & .is-invalid {
      input {
        border: 1px solid #E54141;
        background-color: #FFEBEB;

        &:focus,
        &:hover {
          border: 1px solid #E54141;
          background-color: #FFEBEB;
        }
      }
    }

    & .is-valid {
      input {
        background-color: $white;
        border: 1px solid #6D6D6D;
        transition: $transition;

        &:focus,
        &:hover {
          border: 1px solid rgba(#6D6D6D, 0.9);
        }
      }
    }

    & .input-message {

      &.is-invalid {
        color: $accent-color;
      }

      &.is-valid {
        color: $bace-color;
      }
    }
  }

  &__input {
    color: #36322F;
    border: 1px solid rgba(54, 50, 47, 0.25);
    background-color: #FDFDFD;
  }

  &__input:hover {
    border: 1px solid #6D6D6D;
    background-color: $white;
  }

  &__input::placeholder {
    color: #36322F;
  }

  &__inputs-group {
    display: grid;
    gap: 15px;

    @include laptop {
      gap: 30px;
    }
  }

  &__buttons {
    @include laptop {
      margin-top: 64px;
      display: flex;
      align-items: center;
      gap: 44px;
    }
  }

}
