.team {
  color: $bace-color;
  position: relative;

  @include tablet {
    margin-top: 120px;
  }

  @include laptop {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
  }

  &__name {
    font-size: 20px;
    font-weight: 600;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;

    @include laptop {
      margin-top: 34px;
      font-size: 24px;
    }
  }

  &__post {
    display: block;
    margin-bottom: 12px;
    color: #606060;
    font-size: 15px;
    line-height: 130%;
    letter-spacing: 0.525px;
    text-transform: uppercase;
  }

  &__description {
    display: block;
    font-size: 16px;
    line-height: 160%;
  }
}
