@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/FiraSans-Light.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/FiraSans-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/FiraSans-SemiBold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Oxygen";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Oxygen-Light.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Oxygen";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Oxygen-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Oxygen";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Oxygen-Bold.woff2") format("woff2");
  font-display: swap;
}
